In [25]:
import pandas as pd
df = pd.read_csv("edit_1.csv")
print(df)

     Event  Place      Winner     Win        Date  Year
0      192      1  01-7-8-2-9   17829  23-03-2013  2013
1      192      2  09-0-2-6-9   90269  23-03-2013  2013
2      192      3  27-2-1-9-3  272193  23-03-2013  2013
3      192      4  27-7-8-5-3  277853  23-03-2013  2013
4      192      5  07-1-5-2-2   71522  23-03-2013  2013
..     ...    ...         ...     ...         ...   ...
114    208      3  04-7-5-8-0   47580  21-12-2019  2019
115    208      4  09-3-7-5-1   93751  21-12-2019  2019
116    208      5  07-0-7-8-5   70785  21-12-2019  2019
117    208      6  01-2-0-8-7   12087  21-12-2019  2019
118    208      7  20-3-9-1-7  203917  21-12-2019  2019

[119 rows x 6 columns]

In [26]:
df.describe()

            Event       Place            Win         Year
count  119.000000  119.000000     119.000000   119.000000
mean   200.000000    4.000000  156233.596639  2015.529412
std      4.919694    2.008457   91908.058751     2.098521
min    192.000000    1.000000     163.000000  2013.000000
25%    196.000000    2.000000   80148.500000  2014.000000
50%    200.000000    4.000000  162021.000000  2015.000000
75%    204.000000    6.000000  232327.000000  2017.000000
max    208.000000    7.000000  352116.000000  2019.000000

In [27]:
df.values

array([[192, 1, '01-7-8-2-9', 17829, '23-03-2013', 2013],
       [192, 2, '09-0-2-6-9', 90269, '23-03-2013', 2013],
       [192, 3, '27-2-1-9-3', 272193, '23-03-2013', 2013],
       [192, 4, '27-7-8-5-3', 277853, '23-03-2013', 2013],
       [192, 5, '07-1-5-2-2', 71522, '23-03-2013', 2013],
       [192, 6, '11-3-1-3-6', 113136, '23-03-2013', 2013],
       [192, 7, '05-3-5-1-3', 53513, '23-03-2013', 2013],
       [193, 1, '16-2-3-6-7', 162367, '22-06-2013', 2013],
       [193, 2, '09-3-2-9-4', 93294, '22-06-2013', 2013],
       [193, 3, '11-0-6-1-2', 110612, '22-06-2013', 2013],
       [193, 4, '23-4-3-7-0', 234370, '22-06-2013', 2013],
       [193, 5, '26-0-3-8-9', 260389, '22-06-2013', 2013],
       [193, 6, '33-2-9-4-4', 332944, '22-06-2013', 2013],
       [193, 7, '28-4-8-0-5', 284805, '22-06-2013', 2013],
       [194, 1, '28-3-9-3-6', 283936, '21-09-2013', 2013],
       [194, 2, '21-5-6-5-9', 215659, '21-09-2013', 2013],
       [194, 3, '26-0-7-1-7', 260717, '21-09-2013', 2013],
       [194, 4, '14-0-3-8-5', 140385, '21-09-2013', 2013],
       [194, 5, '22-9-6-3-8', 229638, '21-09-2013', 2013],
       [194, 6, '04-2-5-8-4', 42584, '21-09-2013', 2013],
       [194, 7, '08-9-2-1-2', 89212, '21-09-2013', 2013],
       [195, 1, '34-9-5-8-0', 349580, '21-12-2013', 2013],
       [195, 2, '09-3-8-4-4', 93844, '21-12-2013', 2013],
       [195, 3, '12-7-2-2-9', 127229, '21-12-2013', 2013],
       [195, 4, '34-7-9-0-1', 347901, '21-12-2013', 2013],
       [195, 5, '35-2-1-1-6', 352116, '21-12-2013', 2013],
       [195, 6, '27-6-1-0-6', 276106, '21-12-2013', 2013],
       [195, 7, '24-4-9-6-8', 244968, '21-12-2013', 2013],
       [196, 1, '18-5-0-8-4', 185084, '04-05-2014', 2014],
       [196, 2, '11-1-9-5-9', 111959, '04-05-2014', 2014],
       [196, 3, '01-1-9-9-9', 11999, '04-05-2014', 2014],
       [196, 4, '10-9-5-1-7', 109517, '04-05-2014', 2014],
       [196, 5, '06-2-7-4-4', 62744, '04-05-2014', 2014],
       [196, 6, '29-1-2-0-2', 291202, '04-05-2014', 2014],
       [196, 7, '07-3-4-8-1', 73481, '04-05-2014', 2014],
       [197, 1, '26-8-6-6-7', 268667, '27-09-2014', 2014],
       [197, 2, '01-7-3-9-6', 17396, '27-09-2014', 2014],
       [197, 3, '10-7-6-3-0', 107630, '27-09-2014', 2014],
       [197, 4, '16-9-0-1-9', 169019, '27-09-2014', 2014],
       [197, 5, '16-2-4-8-8', 162488, '27-09-2014', 2014],
       [197, 6, '26-1-7-3-1', 261731, '27-09-2014', 2014],
       [197, 7, '23-1-0-6-9', 231069, '27-09-2014', 2014],
       [198, 1, '18-9-1-4-0', 189140, '20-12-2014', 2014],
       [198, 2, '28-3-0-7-9', 283079, '20-12-2014', 2014],
       [198, 3, '16-2-0-2-1', 162021, '20-12-2014', 2014],
       [198, 4, '19-5-3-2-6', 195326, '20-12-2014', 2014],
       [198, 5, '24-8-1-2-1', 248121, '20-12-2014', 2014],
       [198, 6, '11-7-1-7-7', 117177, '20-12-2014', 2014],
       [198, 7, '07-1-7-6-5', 71765, '20-12-2014', 2014],
       [199, 1, '16-9-1-1-7', 169117, '20-06-2015', 2015],
       [199, 2, '26-3-0-9-3', 263093, '20-06-2015', 2015],
       [199, 3, '12-9-1-8-7', 129187, '20-06-2015', 2015],
       [199, 4, '24-5-4-2-2', 245422, '20-06-2015', 2015],
       [199, 5, '23-8-1-7-0', 238170, '20-06-2015', 2015],
       [199, 6, '20-8-5-0-4', 208504, '20-06-2015', 2015],
       [199, 7, '01-4-8-5-7', 14857, '20-06-2015', 2015],
       [200, 1, '11-5-0-0-3', 115003, '19-12-2015', 2015],
       [200, 2, '03-1-9-9-8', 31998, '19-12-2015', 2015],
       [200, 3, '12-4-2-5-6', 124256, '19-12-2015', 2015],
       [200, 4, '05-8-2-7-9', 58279, '19-12-2015', 2015],
       [200, 5, '24-1-4-7-3', 241473, '19-12-2015', 2015],
       [200, 6, '20-3-1-0-2', 203102, '19-12-2015', 2015],
       [200, 7, '12-5-5-7-2', 125572, '19-12-2015', 2015],
       [201, 1, '14-9-0-8-5', 149085, '18-06-2016', 2016],
       [201, 2, '00-8-0-6-4', 8064, '18-06-2016', 2016],
       [201, 3, '23-2-9-5-3', 232953, '18-06-2016', 2016],
       [201, 4, '00-1-5-3-0', 1530, '18-06-2016', 2016],
       [201, 5, '02-7-8-5-5', 27855, '18-06-2016', 2016],
       [201, 6, '19-7-5-8-1', 197581, '18-06-2016', 2016],
       [201, 7, '18-8-8-5-5', 188855, '18-06-2016', 2016],
       [202, 1, '11-1-1-2-7', 111127, '22-12-2016', 2016],
       [202, 2, '19-6-2-0-1', 196201, '22-12-2016', 2016],
       [202, 3, '02-6-7-6-6', 26766, '22-12-2016', 2016],
       [202, 4, '23-6-4-1-6', 236416, '22-12-2016', 2016],
       [202, 5, '02-4-4-2-4', 24424, '22-12-2016', 2016],
       [202, 6, '18-2-7-5-1', 182751, '22-12-2016', 2016],
       [202, 7, '20-4-2-1-7', 204217, '22-12-2016', 2016],
       [203, 1, '22-9-2-0-6', 229206, '24-06-2017', 2017],
       [203, 2, '17-2-7-7-4', 172774, '24-06-2017', 2017],
       [203, 3, '20-4-7-9-5', 204795, '24-06-2017', 2017],
       [203, 4, '21-4-4-0-6', 214406, '24-06-2017', 2017],
       [203, 5, '07-2-7-6-9', 72769, '24-06-2017', 2017],
       [203, 6, '01-5-3-7-4', 15374, '24-06-2017', 2017],
       [203, 7, '21-9-2-8-9', 219289, '24-06-2017', 2017],
       [204, 1, '07-9-3-2-6', 79326, '22-12-2017', 2017],
       [204, 2, '21-0-8-8-1', 210881, '22-12-2017', 2017],
       [204, 3, '26-7-4-1-9', 267419, '22-12-2017', 2017],
       [204, 4, '23-1-7-0-1', 231701, '22-12-2017', 2017],
       [204, 5, '10-2-7-8-6', 102786, '22-12-2017', 2017],
       [204, 6, '03-1-7-3-9', 31739, '22-12-2017', 2017],
       [204, 7, '12-1-2-8-7', 121287, '22-12-2017', 2017],
       [205, 1, '11-7-6-9-6', 117696, '23-06-2018', 2018],
       [205, 2, '24-3-0-6-7', 243067, '23-06-2018', 2018],
       [205, 3, '01-8-5-0-1', 18501, '23-06-2018', 2018],
       [205, 4, '11-8-8-6-4', 118864, '23-06-2018', 2018],
       [205, 5, '00-1-1-1-4', 1114, '23-06-2018', 2018],
       [205, 6, '08-0-9-7-1', 80971, '23-06-2018', 2018],
       [205, 7, '15-6-8-6-1', 156861, '23-06-2018', 2018],
       [206, 1, '27-2-7-2-6', 272726, '22-12-2018', 2018],
       [206, 2, '21-3-0-5-7', 213057, '22-12-2018', 2018],
       [206, 3, '25-6-6-1-9', 256619, '22-12-2018', 2018],
       [206, 4, '00-0-1-6-3', 163, '22-12-2018', 2018],
       [206, 5, '06-5-3-1-5', 65315, '22-12-2018', 2018],
       [206, 6, '27-2-6-8-6', 272686, '22-12-2018', 2018],
       [206, 7, '15-3-2-5-4', 153254, '22-12-2018', 2018],
       [207, 1, '19-4-8-8-2', 194882, '22-06-2019', 2019],
       [207, 2, '06-7-3-5-1', 67351, '22-06-2019', 2019],
       [207, 3, '23-5-8-3-3', 235833, '22-06-2019', 2019],
       [207, 4, '19-2-1-9-2', 192192, '22-06-2019', 2019],
       [207, 5, '00-3-0-7-0', 3070, '22-06-2019', 2019],
       [207, 6, '16-1-2-9-2', 161292, '22-06-2019', 2019],
       [207, 7, '14-9-0-8-0', 149080, '22-06-2019', 2019],
       [208, 1, '17-2-7-6-3', 172763, '21-12-2019', 2019],
       [208, 2, '12-7-1-2-5', 127125, '21-12-2019', 2019],
       [208, 3, '04-7-5-8-0', 47580, '21-12-2019', 2019],
       [208, 4, '09-3-7-5-1', 93751, '21-12-2019', 2019],
       [208, 5, '07-0-7-8-5', 70785, '21-12-2019', 2019],
       [208, 6, '01-2-0-8-7', 12087, '21-12-2019', 2019],
       [208, 7, '20-3-9-1-7', 203917, '21-12-2019', 2019]], dtype=object)